{% extends 'base.html.twig' %}

{% block title %}
  Defect index
{% endblock %}

{% block body %}
  <h1>Defect index</h1>
  <a href="{{ path('app_defect_new') }}">Create new</a>

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Bin_number</th>
        <th>Item</th>
        <th>IsInvestigated</th>
        <th>Reason</th>
        <th>actions</th>
      </tr>
    </thead>
    <tbody>
      {% for defect in defects %}
        <tr>
          <td class="hidden-mobile">{{ defect.id }}</td>
          <td>{{ defect.binNumber }}</td>
          <td>{{ defect.item }}</td>
          <td>{{ defect.isInvestigated ? 'Yes' : 'No' }}</td>
          <td>{{ defect.reason.name }}</td>
          <td>
            <a href="{{ path('app_defect_show', { id: defect.id }) }}">show</a>
            <a href="{{ path('app_defect_edit', { id: defect.id }) }}">edit</a>
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="9">no records found</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
